{:project/initialised-successfully
 "Project initialised at `{{dest}}`.

Take a look at the `project.edn` file to configure your
project, and put all your Markdown documents in the `source/` directory.

Once you run `typewriter build` we'll give you the static HTML versions
of these based on your template."


 }
