{:title "Your Project"
 :description "Your project description goes here."
 :links [{:text "View on Github"
          :url  "http://github.com/USER/REPO"}
         {:text "Issues"
          :url  "http://github.com/USER/REPO/issues"}]}
