@import url(http://fonts.googleapis.com/css?family=Special+Elite|Roboto+Slab:300);

body {
  font-size: 16px;
  font-family: 'Open Sans', arial, sans;
}
.title-card {
  width: 100%;
  display: table;
  background: #000;
}
.title-card img {
  opacity: 0.4;
}
.title-card > .in {
  display: table-cell;
  vertical-align: middle;
}
.title-card .headline {
  display: inline-block;
  vertical-align: middle;
  max-width: 800px;
  padding: 0 50px;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.4);
  color: #fff;
}
.title-card .headline .logo {
  font-size: 120px;
  font-family: 'Special Elite', arial, sans;
  font-weight: 100;
  line-height: 110%;
}
.title-card .headline .tagline {
  margin-top: 30px;
  font-size: 24px;
  font-family: 'Roboto Slab';
  opacity: 0.6;
}