{:title "type.writer"
 :description "Old-school Documentation, meet Simple."
 :layout "index.html"
 :links [{:text "Documentation"
          :url  "guide.html"}
         {:text "View on Github"
          :url  "http://github.com/kurisuwhyte/type.writer"}
         {:text "Issues"
          :url  "http://github.com/kurisuwhyte/type.writer/issues"}]}
